<% include header.html %>

<script>

var FORM_DATA = <%- JSON.stringify(formElements) %>;
var OPTIONS = <%- JSON.stringify(selections) %>;

</script>

<% if (exampleUsage) { %> <h4><a href="<%- exampleUsage %>">Example Usage</a></h4> <% } %>

<form class="form-horizontal" onsubmit="submitForm(this); return false;">
  <fieldset>
    <legend><%- title %></legend>
      <%
      formElements.forEach(e => {
      %>
      <div class="form-group <%- e.activate %>">
        <label class="col-lg-2 control-label"><%- (e.header ? '<h4>' : '') + (e.title ? e.title : '') + (e.header ? '</h4>' : '') %></label>
        <div class="col-lg-10">

        <% if (e.type == 'textarea') { %>

        <textarea class="form-control" rows="3" name="<%= e.name %>" id="<%= e.name %>" <%- e.placeholder ? 'placeholder="'+e.placeholder+'"' : '' %>></textarea>

        <% } else if (e.type == 'select') { %>

        <select class="form-control" name="<%= e.name %>" id="<%= e.name %>">
          <% e.options.forEach((o, i) => { %>
          <option <%- e.default == i ? 'selected="selected"' : '' %> value="<%= o %>"><%= o %></option>
          <% }) %>
        </select>

        <% } else if (e.type == 'radio') { %>

        <div class="radio" id="<%= e.name %>">
          <% e.options.forEach(o => { %>
          <fieldset id="<%= e.name %>">
            <label>
              <input type="radio" name="<%= e.name %>" value="<%= o.value %>">
              <%= o.name %>
            </label>
          <fieldset>
          <% }) %>
        </div>

        <% } else if (e.type == 'input') { %>
        <input type="input" name="<%= e.name %>" id="<%= e.name %>" class="form-control" <%- e.placeholder ? 'placeholder="'+e.placeholder+'"' : '' %>>

        <% } else if (e.type == 'div') { %>
          <div id="<%= e.name %>" <%- e.replacer ? 'data-replacer="'+e.replacer+'"' : '' %>></div>
        <% } %>
        <span class="help-block error-block" style="display: none"></span>
        <% if (e.checkbox) { %>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="<%= e.checkbox.name %>" id="<%= e.checkbox.name %>" <%- e.checkbox.checked ? 'checked' : '' %>> <%= e.checkbox.info %>
            </label>
          </div>
        <% } %>
        <% if (e.buttons) {
          e.buttons.forEach(button => { %>

          <button type="button" style="margin-right: 10px;" onClick="<%- button.onClick %>" class="btn btn-<%- button.type ? button.type : 'primary' %>"><%- button.text %></button>

        <% }) %>
        <br>
        <% }
        if (e.info) { %>
        <span class="info-block"><%- e.info %></span>
        <% }
        if (e.hr) { %>
        <hr>
        <% } %>

        </div>
      </div>
      <% }) %>
      
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!-- <button type="reset" class="btn btn-default">Cancel</button> -->
        <button type="submit" class="btn btn-primary"><%= submitButton %></button>
         <button type="button" style="margin-left: 10px;" onClick="getSettingsURL()" class="btn btn-info">Get Settings URL</button>
      </div>
    </div>
  </fieldset>
</form>

<% include footer.html %>