<% include header.html %>

<h3> Github Links </h3>

<h6>All the source code for this site and everything this site uses is public and open source!</h6>

<h5><a href="https://github.com/demipixel/autotorio">This website</a> (Report issues with the site itself here)</h5>

<h5><a href="https://github.com/demipixel/factorio-generators">Generators used on this website</a> (Report issues or feature requests for the tools)</h5>

<h5><a href="https://github.com/demipixel/factorio-blueprint">Blueprint library used by generators</a> (Probably only developers care about this)</h5>

<% include footer.html %>